:local(.Frame) {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:local(.Header) {
    flex-grow: 0;
    position: relative;
    z-index: 1;
}

:local(.Content) {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}