@import 'Globals/Styles/Variables.scss';

:local(.Logo) {
    font-family: $logo-font-family;
    font-size: 48px;
    display: inline-block;
    color: $primary-color;
    font-weight: bold;
    text-shadow: 1px 1px 15px #000000
}