@import 'Globals/Global.scss';

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:focus,
    &:active,
    &:hover {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
}

.btn-danger {
    background-color: $danger-color;
    border-color: $danger-color;

    &:focus,
    &:active,
    &:hover {
        background-color: darken($danger-color, 10%);
        border-color: darken($danger-color, 10%);
    }
}
