@import 'Globals/Styles/Variables.scss';

:local(.Frame) {
    background-color: #000000;
    background-image: url(/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: #000000;
        opacity: 0.5;
        z-index: 0;
    }
}

:local(.FlexWrapper) {
    height: 100%;
    display: flex;
}

:local(.FormWrapper) {
    background: rgba(0, 0, 0, 0.9);
    padding: 50px 75px;
    z-index: 1;

    @media (max-width: $screen-max-sm) {
        padding: 30px 25px;
    }
}
