/* Colors */
$primary-color: #2693E6;
$danger-color: #e50914;

/* Font family */
$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'PT Sans Narrow', sans-serif;

/* Responsive */
$screen-max-xs: 575px;
$screen-max-sm: 767px;
$screen-max-md: 991px;
$screen-max-lg: 1199px;